---
- name: Configure system
  hosts: all

  pre_tasks:
    # - name: Print all available facts
    #   ansible.builtin.debug:
    #     var: ansible_facts

    - name: Update packages
      ansible.builtin.import_tasks: pre_tasks/update_packages.yaml
      tags:
        - always

    - name: Install packages
      ansible.builtin.import_tasks: pre_tasks/install_packages.yaml
      tags:
        - always

    - name: Configure config directory
      ansible.builtin.import_tasks: pre_tasks/configure_config_directory.yaml
      tags:
        - always
