---
- name: Check if Docker is installed
  ansible.builtin.raw: type docker
  register: type_res
  ignore_errors: true

- name: Install docker
  when: "'docker: not found' in type_res.stdout"
  block:
    - name: Get docker install script
      ansible.builtin.command: curl -fsSL https://get.docker.com -o install-docker.sh
      args:
        chdir: ~

    - name: Run install script
      ansible.builtin.command: sh install-docker.sh
      args:
        chdir: ~

    - name: Delete install script
      ansible.builtin.command: rm install-docker.sh
      args:
        chdir: ~

- name: Compose
  community.docker.docker_compose_v2:
    project_src: /docker/{{inventory_hostname}}/
    pull: missing
    build: always
  register: output

- name: Show results
  ansible.builtin.debug:
    var: output
